# Byte-compiled / optimized / DLL files
__pycache__/
data/
cine/
docs/
*.py[cod]
*$py.class

#test code repo
test/

# C extensions
*.so

# pyenv
.python-version

# virtualenv
venv/
ENV/

#Mac OS
.DS_Store
