# Byte-compiled / optimized / DLL files
__pycache__/
data/
cine/
docs/
itk/
*.py[cod]
*$py.class
.npy

#test code repo
test/
tests/
test*

temp/

# C extensions
*.so

# pyenv
.python-version

# virtualenv
venv/
ENV/

#Mac OS
.DS_Store
